{% extends "base.html" %}

{% block head_content %}
    <title>Platzigram Feed</title>
{% endblock %}

{% block container %}
    <div class="row">
        {% for post in posts %}
        <div class="col-lg-4 offset-lg-4">
            <div class="media">
                <img src="{{ post.user.picture }}" alt="{{ post.user.name }}" class="mr-3 rounded-circle">
                <div class="media-body">
                    <h5 class="mt-0">{{ post.user.name }}</h5>
                    {{ post.timestamp }}
                </div>
            </div>
            <img src="{{ post.photo }}" alt="{{ post.title }}" class="img-fluid w-100 mt-3 border rounded">
            <h6 class="ml-1 mt-1">{{ post.title }}</h6>
        </div>
        {% endfor %}
    </div>
{% endblock %}
